# Application
NODE_ENV=
PORT=
APP_NAME=
API_PREFIX=
API_VERSION=

# Database
DATABASE_URL=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Redis
REDIS_HOST=
REDIS_PORT=

# MQTT
MQTT_URL=

# Kafka
KAFKA_BROKER=

# WebSocket
WS_PORT=